/*!
 * Bootstrap Grid v4.1.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}
.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}
.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}
.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}
.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}
.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}
.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}
.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}
.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}
.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}
.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}
.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}
.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}
.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}
.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}
.offset-1 {
  margin-left: 8.333333%;
}
.offset-2 {
  margin-left: 16.666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.333333%;
}
.offset-5 {
  margin-left: 41.666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.333333%;
}
.offset-8 {
  margin-left: 66.666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.333333%;
}
.offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}
.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-box !important;
  display: inline-flex !important;
}
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: inline-flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: inline-flex !important;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-box !important;
    display: inline-flex !important;
  }
}
.flex-row {
  -ms-flex-direction: row !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
          flex-direction: row !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
}
.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
          flex-direction: row-reverse !important;
}
.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
          flex-direction: column-reverse !important;
}
.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}
.flex-fill {
  -ms-flex: 1 1 auto !important;
  -webkit-box-flex: 1 !important;
          flex: 1 1 auto !important;
}
.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  -webkit-box-flex: 0 !important;
          flex-grow: 0 !important;
}
.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  -webkit-box-flex: 1 !important;
          flex-grow: 1 !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  -webkit-box-pack: start !important;
          justify-content: flex-start !important;
}
.justify-content-end {
  -ms-flex-pack: end !important;
  -webkit-box-pack: end !important;
          justify-content: flex-end !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
}
.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
.align-items-start {
  -ms-flex-align: start !important;
  -webkit-box-align: start !important;
          align-items: flex-start !important;
}
.align-items-end {
  -ms-flex-align: end !important;
  -webkit-box-align: end !important;
          align-items: flex-end !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}
.align-items-baseline {
  -ms-flex-align: baseline !important;
  -webkit-box-align: baseline !important;
          align-items: baseline !important;
}
.align-items-stretch {
  -ms-flex-align: stretch !important;
  -webkit-box-align: stretch !important;
          align-items: stretch !important;
}
.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}
.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}
.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}
.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}
.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}
.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}
.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}
.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}
.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}
@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
            flex-direction: row !important;
  }
  .flex-sm-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
            flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
            flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    -webkit-box-flex: 1 !important;
            flex: 1 1 auto !important;
  }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    -webkit-box-flex: 0 !important;
            flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    -webkit-box-flex: 1 !important;
            flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start !important;
    -webkit-box-pack: start !important;
            justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end !important;
    -webkit-box-pack: end !important;
            justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
            justify-content: space-between !important;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    -ms-flex-align: start !important;
    -webkit-box-align: start !important;
            align-items: flex-start !important;
  }
  .align-items-sm-end {
    -ms-flex-align: end !important;
    -webkit-box-align: end !important;
            align-items: flex-end !important;
  }
  .align-items-sm-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
            align-items: center !important;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline !important;
    -webkit-box-align: baseline !important;
            align-items: baseline !important;
  }
  .align-items-sm-stretch {
    -ms-flex-align: stretch !important;
    -webkit-box-align: stretch !important;
            align-items: stretch !important;
  }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
            flex-direction: row !important;
  }
  .flex-md-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
            flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
            flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    -webkit-box-flex: 1 !important;
            flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    -webkit-box-flex: 0 !important;
            flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    -webkit-box-flex: 1 !important;
            flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-md-start {
    -ms-flex-pack: start !important;
    -webkit-box-pack: start !important;
            justify-content: flex-start !important;
  }
  .justify-content-md-end {
    -ms-flex-pack: end !important;
    -webkit-box-pack: end !important;
            justify-content: flex-end !important;
  }
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
            justify-content: space-between !important;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-md-start {
    -ms-flex-align: start !important;
    -webkit-box-align: start !important;
            align-items: flex-start !important;
  }
  .align-items-md-end {
    -ms-flex-align: end !important;
    -webkit-box-align: end !important;
            align-items: flex-end !important;
  }
  .align-items-md-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
            align-items: center !important;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
    -webkit-box-align: baseline !important;
            align-items: baseline !important;
  }
  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
    -webkit-box-align: stretch !important;
            align-items: stretch !important;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
            flex-direction: row !important;
  }
  .flex-lg-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
            flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
            flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    -webkit-box-flex: 1 !important;
            flex: 1 1 auto !important;
  }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    -webkit-box-flex: 0 !important;
            flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    -webkit-box-flex: 1 !important;
            flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start !important;
    -webkit-box-pack: start !important;
            justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end !important;
    -webkit-box-pack: end !important;
            justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
            justify-content: space-between !important;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    -ms-flex-align: start !important;
    -webkit-box-align: start !important;
            align-items: flex-start !important;
  }
  .align-items-lg-end {
    -ms-flex-align: end !important;
    -webkit-box-align: end !important;
            align-items: flex-end !important;
  }
  .align-items-lg-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
            align-items: center !important;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    -webkit-box-align: baseline !important;
            align-items: baseline !important;
  }
  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    -webkit-box-align: stretch !important;
            align-items: stretch !important;
  }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
            flex-direction: row !important;
  }
  .flex-xl-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
            flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
            flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    -webkit-box-flex: 1 !important;
            flex: 1 1 auto !important;
  }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    -webkit-box-flex: 0 !important;
            flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    -webkit-box-flex: 1 !important;
            flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-xl-start {
    -ms-flex-pack: start !important;
    -webkit-box-pack: start !important;
            justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    -ms-flex-pack: end !important;
    -webkit-box-pack: end !important;
            justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  .justify-content-xl-between {
    -ms-flex-pack: justify !important;
    -webkit-box-pack: justify !important;
            justify-content: space-between !important;
  }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    -ms-flex-align: start !important;
    -webkit-box-align: start !important;
            align-items: flex-start !important;
  }
  .align-items-xl-end {
    -ms-flex-align: end !important;
    -webkit-box-align: end !important;
            align-items: flex-end !important;
  }
  .align-items-xl-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
            align-items: center !important;
  }
  .align-items-xl-baseline {
    -ms-flex-align: baseline !important;
    -webkit-box-align: baseline !important;
            align-items: baseline !important;
  }
  .align-items-xl-stretch {
    -ms-flex-align: stretch !important;
    -webkit-box-align: stretch !important;
            align-items: stretch !important;
  }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}
@font-face {
  font-family: 'Imprint MT - Shadow';
  src: url('../fonts/imprisha.eot');
  src: local('☺'), url('../fonts/imprisha.woff') format('woff'), url('../fonts/imprisha.ttf') format('truetype'), url('../fonts/imprisha.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/****user predefined styles***************/
.vertical-menu,
.unstyled-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.horisontal-menu,
.inline-list {
  list-style-type: none;
}
.horisontal-menu > li,
.inline-list > li {
  display: inline-block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  opacity: 0;
}
.clearfix:before,
.clearfix:after,
.hero-section:before,
.hero-section:after {
  content: " ";
  display: table;
}
.clearfix:after,
.hero-section:after {
  clear: both;
}
ul,
ol,
dl,
li,
dd,
dt {
  margin: 0;
  padding: 0;
}
.je {
  text-align: justify;
  line-height: 0;
}
.je:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  line-height: 0;
  font-size: 0;
  opacity: 0;
  margin-top: -1px;
}
.icon {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}
.ibt {
  display: inline-block;
  vertical-align: top;
}
.console {
  position: fixed;
  width: 150px;
  height: 50px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000000;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
}
.console p {
  font: 400 14px/1 Tahoma;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", 'Arial MT', sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  background-color: #f5f5f5;
  font-weight: 400;
}
@media (min-width: 992px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}
h1 {
  font-size: 56px;
  font-family: "Imprint MT - Shadow", 'Times New Roman', serif;
  color: inherit;
  margin-top: 0;
}
@media (min-width: 992px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 56px;
  }
}
h2 {
  font-size: 35px;
  margin-top: 0;
  font-family: "Imprint MT - Shadow", 'Times New Roman', serif;
  color: inherit;
}
@media (min-width: 992px) {
  h2 {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 35px;
  }
}
h3 {
  font-size: 30px;
  margin-top: 0;
  color: inherit;
  font-family: "Imprint MT - Shadow", 'Times New Roman', serif;
}
@media (min-width: 992px) {
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 30px;
  }
}
h4 {
  font-size: 24px;
  margin-top: 0;
  font-family: "Imprint MT - Shadow", 'Times New Roman', serif;
  color: inherit;
}
@media (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 24px;
  }
}
h5 {
  font-size: 20px;
  margin-top: 0;
  color: inherit;
  font-family: "Imprint MT - Shadow", 'Times New Roman', serif;
}
@media (min-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 20px;
  }
}
h6 {
  font-size: 18px;
  color: inherit;
  font-family: "Imprint MT - Shadow", 'Times New Roman', serif;
  margin-top: 0;
}
@media (min-width: 992px) {
  h6 {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  h6 {
    font-size: 18px;
  }
}
.textcenter {
  text-align: center;
}
.textleft {
  text-align: left;
}
.textright {
  text-align: right;
}
.site-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;
}
.hero-section {
  background-color: #010e3d;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 436px;
  background-size: auto 100%;
}
@media (min-width: 992px) {
  .hero-section {
    min-height: 366px;
    height: 31.92vw;
    background-size: cover;
  }
}
.button {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  color: #2a5382;
  border: 2px solid #2a5382;
  text-transform: uppercase;
  padding: 21px 21px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 600;
}
.button svg {
  fill: #2a5382!important;
  font-size: 27px !important;
  margin-left: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: inline-block;
  vertical-align: -8px;
}
@media (min-width: 376px) {
  .button {
    width: auto;
  }
}
@media (min-width: 992px) {
  .button {
    width: auto;
    padding: 21px 26px;
  }
}
.button.limit-340 {
  width: 100%!important;
  max-width: 340px!important;
}
.button_thin {
  padding-top: 13px;
  padding-bottom: 13px;
}
.button:hover {
  color: #fff;
  background-color: #2a5382;
}
.button:hover svg {
  fill: #fff!important;
}
.button_contrast {
  border: 2px solid #fff;
  background-color: #fff;
  color: #2a5382!important;
}
.button_contrast:hover {
  color: #fff!important;
  background-color: transparent;
}
.advantages {
  position: relative;
  z-index: 10;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  min-height: 566px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../images/c/details_mob.png);
  margin: 66px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 992px) {
  .advantages {
    margin: 18px 0 40px;
  }
}
.advantages .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 992px) {
  .advantages .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .advantages .container {
    padding: 0 45px!important;
  }
}
@media (min-width: 376px) {
  .advantages {
    background-image: url(../images/c/details.png);
  }
}
@media (min-width: 992px) {
  .advantages {
    min-height: 432px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 36.02vw;
    padding-bottom: 2.8vw;
  }
}
@media (max-width: 768px) {
  .advantages .details {
    -webkit-box-flex: 0!important;
        -ms-flex: 0 0 40%!important;
            flex: 0 0 40%!important;
    max-width: 40%;
  }
}
@media (min-width: 376px) {
  .advantages .details:nth-child(2n+1) {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .advantages .details:nth-child(2n+1) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .advantages .details:first-child {
    margin-left: 80px;
  }
}
.advantages .details:nth-child(-n+2) {
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .advantages .details:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
.advantages .details__image {
  height: 110px;
  line-height: 110px;
  margin: 0 0 13px;
}
.advantages .details__image img {
  display: inline-block;
  vertical-align: bottom;
}
.advantages .details__text {
  letter-spacing: 2.88px;
  font-size: 20px;
  line-height: 1!important;
  font-weight: 700;
  color: #fff!important;
  margin: 0!important;
  letter-spacing: 1.5px!important;
}
.has-background {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 1386px) {
  .has-background {
    background-size: cover;
  }
}
.site-inner {
  min-height: calc(100vh - 160px);
}
@media (min-width: 376px) {
  .site-inner {
    min-height: calc(100vh - 133px);
  }
}
@media (min-width: 992px) {
  .site-inner {
    min-height: calc(100vh - 160px);
  }
}
@media (min-width: 992px) {
  .site-inner {
    min-height: calc(100vh - 160px );
  }
}
@media (min-width: 1386px) {
  .site-inner {
    min-height: calc(100vh - 319px + 9.22vw);
  }
}
.number-image {
  position: relative;
  z-index: 10;
  min-height: 497px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .number-image {
    height: 36.38vw;
  }
}
.number-image .container {
  position: absolute!important;
  bottom: 0;
  left: 0;
  right: 0;
}
.number-image__value {
  display: block;
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  line-height: 70px;
  margin-left: 8%;
  padding-bottom: .5%;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .number-image__value {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .number-image__value {
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .number-image__value {
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .number-image__value {
    padding-bottom: 1vw;
  }
}
@media (min-width: 1386px) {
  .number-image__value {
    padding-bottom: 1.5vw;
  }
}
@media (min-width: 1650px) {
}
.image-fullwidth {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  position: relative;
}
@media (min-width: 992px) {
  .image-fullwidth {
    margin-bottom: 45px;
  }
}
.image-fullwidth img {
  position: absolute;
  display: block;
  min-width: 100%;
  margin: auto;
  left: -100%;
  right: -100%;
  top: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .columns-2 {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}
.columns-2 * {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}
.waves-breaker {
  text-align: center;
  margin: 0 0 2em 0;
}
.page-title {
  color: #010e3d !important;
  text-align: center;
  line-height: 1.71!important;
}
@media (min-width: 992px) {
  .page-title {
    line-height: 1!important;
  }
}
.page-title .comment {
  display: block;
  font-family: "Arial", 'Arial MT', sans-serif;
  font-size: .6em;
  line-height: 2em;
}
.page-title_deco {
  padding-bottom: 1.2em;
}
.page-title_deco:after {
  content: url(../images/waves_g_sm.svg);
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 0;
  right: -100%;
  left: -100%;
  margin: 0 auto;
}
.page-tabs {
  margin-bottom: 10.76vw;
  -webkit-box-shadow: 0 2px 4px 1px rgba(1, 1, 1, 0.5);
          box-shadow: 0 2px 4px 1px rgba(1, 1, 1, 0.5);
}
@media (min-width: 992px) {
  .page-tabs:not(:first-child) {
    margin: 92px 0 140px;
  }
}
.page-tabs__item {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #2a5382;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.page-tabs__item:hover {
  background-color: #366ca9;
}
.page-tabs__item.active {
  background-color: #eeeeee;
  color: #010e3d;
}
.page-switcher {
  text-align: center;
  margin: 125px 0 13px;
}
.page-switcher__next,
.page-switcher__prev {
  text-decoration: none;
  color: #2a5382;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-weight: 700;
  letter-spacing: -0.8px;
}
.page-switcher__next .text,
.page-switcher__prev .text {
  display: inline-block;
  text-align: center;
  vertical-align: 0;
}
.page-switcher__next .arrow,
.page-switcher__prev .arrow {
  -webkit-transition: all .2s;
  transition: all .2s;
  display: inline-block;
  vertical-align: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #2a5382;
  position: relative;
}
.page-switcher__next .arrow:after,
.page-switcher__prev .arrow:after {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid  #2a5382;
  display: block;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.page-switcher__next:hover .arrow,
.page-switcher__prev:hover .arrow {
  background-color: #2a5382;
}
.page-switcher__next .arrow {
  margin-left: 24px;
}
.page-switcher__next .arrow:after {
  -webkit-transform: rotateZ(45deg) translateX(-15%) translateY(15%);
          transform: rotateZ(45deg) translateX(-15%) translateY(15%);
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.page-switcher__next:hover .arrow:after {
  -webkit-transform: rotateZ(45deg) translateX(-15%) translateY(15%);
          transform: rotateZ(45deg) translateX(-15%) translateY(15%);
  border-right-color: #fff;
  border-top-color: #fff;
}
.page-switcher__prev .arrow {
  margin-right: 24px;
}
.page-switcher__prev .arrow:after {
  -webkit-transform: rotateZ(45deg) translateX(15%) translateY(-15%);
          transform: rotateZ(45deg) translateX(15%) translateY(-15%);
  border-right-color: transparent;
  border-top-color: transparent;
}
.page-switcher__prev:hover .arrow:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.calculator__label {
  display: block;
  color: #2a5382;
  line-height: 2em;
  min-height: 4em;
  letter-spacing: -0.7px;
}
.calculator__label.row-1 {
  min-height: 0;
}
.calculator__field,
.calculator__select-parent {
  width: 100%;
  border: 0;
  background-color: transparent;
  outline: 0;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: block;
  text-align-last: center;
}
.calculator__field:not(.readonly),
.calculator__select-parent:not(.readonly) {
  -webkit-box-shadow: 6px 8px 15px rgba(1, 1, 1, 0.1);
          box-shadow: 6px 8px 15px rgba(1, 1, 1, 0.1);
  background-color: #fff;
}
.calculator__select-parent {
  cursor: pointer;
}
.calculator__select-parent.short {
  max-width: 160px;
}
.calculator__select-parent select {
  cursor: pointer;
  outline: 0;
  height: 100%;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.calculator__select-parent select:only-child {
  width: 100% !important;
}
.calculator__select-parent select:after {
  display: none;
}
.calculator__select-parent .decrease + select {
  width: calc(100% - 64px);
}
.calculator__select-parent .decrease,
.calculator__select-parent .increase {
  width: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 32px;
  border: 1px solid #eeeeee;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #2b3735;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
.calculator__select-parent .decrease:hover,
.calculator__select-parent .increase:hover {
  background: #eee;
}
.calculator__select-parent select::-ms-expand {
  display: none;
}
.calculator__wrapper {
  margin-bottom: 60px;
}
.calculator option {
  text-align: center;
}
.calculator__results {
  margin: 0 -30px;
  padding: 0 30px;
  width: calc(100% + 60px);
  text-align: left;
  border-collapse: collapse;
}
@media (min-width: 768px) {
  .calculator__results {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.calculator__results .icon-switch {
  display: block;
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid  #4f4d4a;
  margin-top: -4px;
  margin-right: 30px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
@media (min-width: 768px) {
  .calculator__results .icon-switch {
    display: none;
  }
}
.calculator__results .icon-switch:after {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid  #4f4d4a;
  display: block;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 3px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
}
.calculator__results .shown .icon-switch {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}
.calculator__results input {
  border: 0;
  background-color: transparent;
  padding: 0;
}
.calculator__results th {
  padding-bottom: 18px;
  color: #2a5382;
  font-weight: 400;
  font-size: 15px;
  display: none;
}
@media (min-width: 768px) {
  .calculator__results th {
    display: table-cell;
  }
}
.calculator__results td {
  padding: 11px 5px;
  color: #2b3735;
  line-height: 1.05;
  display: block;
  line-height: 18px;
}
.calculator__results td:first-child {
  color: #2a5382;
  width: 100%;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .calculator__results td:first-child {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .calculator__results td:first-child {
    padding-left: 70px;
  }
}
.calculator__results td.expand {
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  display: none;
}
.calculator__results td.expand:nth-child(3) {
  padding-left: 30px;
}
@media (min-width: 768px) {
  .calculator__results td.expand:nth-child(3) {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .calculator__results td.expand {
    width: 18%;
    float: none;
    display: table-cell !important;
  }
}
.calculator__results td.expand:before {
  content: attr(data-title);
  display: block;
  margin: 0 0 20px;
  color: #2a5382;
}
@media (min-width: 768px) {
  .calculator__results td.expand:before {
    display: none;
  }
}
.calculator__results tr:nth-child(even) {
  padding: 0;
}
@media (min-width: 768px) {
  .calculator__results tr:nth-child(even) td {
    background: #eee;
  }
}
.calculator__results tr:nth-child(even) td:first-child {
  background: #eee;
}
.spacer-md-130 {
  display: block;
}
@media (min-width: 992px) {
  .spacer-md-130 {
    height: 130px;
  }
}
.fullsize {
  width: 100%;
}
[class^=col] .fullsize {
  margin: 0 -15px;
  width: calc(100% + 30px);
}
.shift-vertical [class^=col] {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .shift-vertical [class^=col] {
    margin-bottom: 0;
  }
}
.home-moto {
  text-align: center;
  padding: 84px 0 94px;
}
.home-moto h1,
.home-moto h2,
.home-moto h3,
.home-moto h4,
.home-moto h5,
.home-moto h6 {
  font-size: 45px;
  color: #010e3d;
  letter-spacing: -1.6px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 17px;
}
@media (min-width: 576px) {
  .home-moto h1,
  .home-moto h2,
  .home-moto h3,
  .home-moto h4,
  .home-moto h5,
  .home-moto h6 {
    margin: 0 0 7px;
    font-size: 55px;
  }
}
.home-moto p {
  font-size: 20px;
  color: #010e3d;
  margin: 0;
  letter-spacing: -0.5px;
  line-height: 31px;
}
@media (min-width: 576px) {
  .home-moto p {
    font-size: 25px;
  }
}
.site-content {
  position: relative;
  margin-bottom: 49px;
}
@media (min-width: 992px) {
  .site-content {
    margin-bottom: 49px;
  }
}
.site-content .container {
  position: relative;
  z-index: 10;
}
.site-content .container.wrapper {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 100%;
}
.site-content.inner-page {
  padding: 64px 0 51px;
}
@media (min-width: 768px) {
  .site-content.inner-page {
    padding: 55px 0 77px;
  }
}
.site-content.inner-page h1,
.site-content.inner-page h2,
.site-content.inner-page h3,
.site-content.inner-page h4 {
  color: #2b3735;
}
@media (max-width: 576px) {
  .site-content.inner-page h1,
  .site-content.inner-page h2,
  .site-content.inner-page h3,
  .site-content.inner-page h4 {
    text-align: center;
  }
}
.site-content.inner-page h1,
.site-content.inner-page h2,
.site-content.inner-page h3,
.site-content.inner-page h4,
.site-content.inner-page h5,
.site-content.inner-page h6 {
  display: block;
  letter-spacing: -1.25px;
  line-height: .9;
  margin-bottom: 1.8em;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-content.inner-page h1,
  .site-content.inner-page h2,
  .site-content.inner-page h3,
  .site-content.inner-page h4,
  .site-content.inner-page h5,
  .site-content.inner-page h6 {
    margin-bottom: 1.8em;
  }
}
.site-content.inner-page h1.deco,
.site-content.inner-page h2.deco,
.site-content.inner-page h3.deco,
.site-content.inner-page h4.deco,
.site-content.inner-page h5.deco,
.site-content.inner-page h6.deco {
  padding-bottom: 1.2em;
}
.site-content.inner-page h1.deco:after,
.site-content.inner-page h2.deco:after,
.site-content.inner-page h3.deco:after,
.site-content.inner-page h4.deco:after,
.site-content.inner-page h5.deco:after,
.site-content.inner-page h6.deco:after {
  content: url(../images/waves_g_sm.svg);
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 0;
  right: -100%;
  left: -100%;
  margin: 0 auto;
}
.site-content.inner-page p {
  margin-top: 0;
  color: #2b3735;
  line-height: 2;
  margin-bottom: 2em;
  letter-spacing: -0.5px;
}
@media (max-width: 576px) {
  .site-content.inner-page p {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
@media (min-width: 768px) {
  .site-content.inner-page p {
    margin-bottom: 2.9em;
  }
}
.site-content.inner-page ol {
  color: #2b3735;
  margin-bottom: 3em;
  display: block;
}
@media (max-width: 576px) {
  .site-content.inner-page ol {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
.site-content.inner-page ul {
  color: #2b3735;
  margin-bottom: 3em;
  display: block;
}
@media (max-width: 576px) {
  .site-content.inner-page ul {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
.site-content.inner-page ul li {
  list-style-type: none;
  color: #2b3735;
  position: relative;
  padding-left: 10px;
  line-height: 2em;
}
.site-content.inner-page ul li:before {
  content: '•';
  position: absolute;
  left: 0;
}
.site-content.home-page {
  padding: 64px 0 51px;
}
@media (min-width: 768px) {
  .site-content.home-page {
    padding: 64px 0 61px;
  }
}
.site-content.home-page h1,
.site-content.home-page h2,
.site-content.home-page h3,
.site-content.home-page h4,
.site-content.home-page h5,
.site-content.home-page h6 {
  text-transform: uppercase;
  color: #3b3735;
  display: block;
  padding-bottom: 1.2em;
  letter-spacing: -1.25px;
  line-height: .9;
  margin-bottom: .1em;
  position: relative;
  font-weight: 400;
}
@media (min-width: 768px) {
  .site-content.home-page h1,
  .site-content.home-page h2,
  .site-content.home-page h3,
  .site-content.home-page h4,
  .site-content.home-page h5,
  .site-content.home-page h6 {
    margin-bottom: .7em;
  }
}
.site-content.home-page h1:after,
.site-content.home-page h2:after,
.site-content.home-page h3:after,
.site-content.home-page h4:after,
.site-content.home-page h5:after,
.site-content.home-page h6:after {
  content: url(../images/waves_g_sm.svg);
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 0;
  right: -100%;
  left: -100%;
  margin: 0 auto;
}
.site-content.home-page p {
  margin-top: 0;
  color: #3b3735;
  line-height: 2;
  margin-bottom: 2em;
  letter-spacing: -0.5px;
}
@media (max-width: 576px) {
  .site-content.home-page p {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}
@media (min-width: 768px) {
  .site-content.home-page p {
    margin-bottom: 2.9em;
  }
}
.background-content {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 0 21px 1px rgba(1, 1, 1, 0.1);
          box-shadow: 0 0 21px 1px rgba(1, 1, 1, 0.1);
  background-color: #ffffff;
}
section.form {
  padding-top: 122px;
  padding-bottom: 130px;
  background-image: url(../images/c/form_mob.png);
  min-height: 41.29vw;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media (min-width: 376px) {
  section.form {
    padding-top: 107px;
    padding-bottom: 130px;
    background-image: url(../images/c/form.png);
  }
}
@media (min-width: 1386px) {
  section.form {
    padding-top: 9.15vw;
    padding-bottom: 9.52vw;
  }
}
section.form h2,
section.form h3,
section.form h1 {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
  letter-spacing: 3.2px;
  line-height: 1.18;
}
section.form h2:after,
section.form h3:after,
section.form h1:after {
  content: url(../images/waves_w_sm.svg);
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 0;
  right: -100%;
  left: -100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
}
.form-footer input,
.form-footer textarea {
  width: 100%;
  color: #fff;
  text-align: left;
  max-width: 286px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.form-footer textarea {
  height: 100%;
  resize: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  height: 200px;
  margin-bottom: 10px;
  /* Firefox 19+ */
}
@media (min-width: 768px) {
  .form-footer textarea {
    max-width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
}
.form-footer textarea::-webkit-input-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 1.1;
  vertical-align: top;
}
.form-footer textarea::-moz-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 1.1;
  vertical-align: top;
}
.form-footer textarea:-moz-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 1.1;
  vertical-align: top;
  /* Firefox 18- */
}
.form-footer textarea:-ms-input-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 1.1;
  vertical-align: top;
}
.form-footer textarea:focus {
  /* Firefox 19+ */
}
.form-footer textarea:focus::-webkit-input-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
}
.form-footer textarea:focus::-moz-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
}
.form-footer textarea:focus:-moz-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
  /* Firefox 18- */
}
.form-footer textarea:focus:-ms-input-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
}
.form-footer__field {
  background-color: transparent;
  padding: 0 15px 0 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  height: 40px;
  line-height: 40px;
  margin: 0 0 14px;
  outline: 0;
  /* Firefox 19+ */
}
@media (min-width: 1200px) {
  .form-footer__field {
    float: right;
    max-width: 285px;
  }
}
.form-footer__field::-webkit-input-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 40px;
  vertical-align: top;
}
.form-footer__field::-moz-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 40px;
  vertical-align: top;
}
.form-footer__field:-moz-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 40px;
  vertical-align: top;
  /* Firefox 18- */
}
.form-footer__field:-ms-input-placeholder {
  color: #fff;
  font: 500 15px Arial;
  font-style: normal;
  line-height: 40px;
  vertical-align: top;
}
.form-footer__field:focus {
  /* Firefox 19+ */
}
.form-footer__field:focus::-webkit-input-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
}
.form-footer__field:focus::-moz-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
}
.form-footer__field:focus:-moz-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
  /* Firefox 18- */
}
.form-footer__field:focus:-ms-input-placeholder {
  color: transparent;
  font: 500 14px Arial;
  font-style: normal;
  line-height: 1em;
  vertical-align: top;
}
.form-footer input[type="submit"] {
  border: 1px solid  #fff;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 1200px) {
  .form-footer input[type="submit"] {
    float: right;
    max-width: 285px;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 300;
  }
}
@media (min-width: 992px) {
  .itinerary-cont {
    padding: 61px 0 60px;
  }
}
.itinerary {
  margin-bottom: 40px;
  overflow: hidden;
}
@media (min-width: 576px) {
  .itinerary {
    margin-bottom: 15px;
  }
}
.itinerary__inner {
  color: #3b3735;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0;
}
.itinerary__overlay {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(1, 14, 61, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.itinerary:hover .itinerary__overlay {
  opacity: 1;
  visibility: visible;
}
.itinerary__more {
  margin-top: 50px;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  text-transform: uppercase;
  padding-bottom: 32px;
  position: relative;
}
.itinerary__more:after {
  content: url(../images/waves.svg);
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 0;
  right: -100%;
  left: -100%;
  margin: 0 auto;
}
.itinerary__image {
  width: 100%;
  display: block;
  overflow: hidden;
}
@media (min-width: 576px) {
  .itinerary__image {
    height: 33.68vw;
  }
}
@media (min-width: 768px) {
  .itinerary__image {
    height: 22.53vw;
  }
}
@media (min-width: 992px) {
  .itinerary__image {
    height: 16.7vw;
  }
}
.itinerary__image img {
  display: block;
  width: 100%;
  height: 100%;
}
.itinerary__title {
  height: 61px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.faq__item {
  margin: 0 -15px;
}
@media (min-width: 768px) {
  .faq__item {
    margin: 0;
  }
}
.faq__item:nth-child(odd) .faq__item-content {
  background-color: #eeeeee;
}
.faq__item-switcher {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid  #4f4d4a;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  cursor: pointer;
}
@media (min-width: 768px) {
  .faq__item-switcher {
    display: inline-block;
    margin-right: 5px;
    margin-top: 12px;
  }
}
.faq__item-switcher:after {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid  #4f4d4a;
  display: block;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 3px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
}
.faq__item-switcher:hover {
  background-color: #4f4d4a;
}
.faq__item-switcher:hover:after {
  border-right-color: #fff;
  border-bottom-color: #fff;
}
.expanded .faq__item-switcher {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}
.faq__item-content {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  .faq__item-content {
    width: calc(100% - 45px);
  }
}
.faq__item-question {
  padding: 20px 25px 11px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  line-height: 1.8;
  vertical-align: middle;
  letter-spacing: -0.3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
@media (min-width: 768px) {
  .expanded .faq__item-question {
    padding-bottom: 0;
  }
}
.faq__item-answer {
  font-size: 15px;
  line-height: 1.8em;
  display: none;
  padding: 0 25px 25px 25px;
}
.boat-info {
  position: relative;
  margin-bottom: 20px;
}
.boat-info__overlay {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 70px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(1, 14, 61, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.boat-info:hover .boat-info__overlay {
  opacity: 1;
  visibility: visible;
}
.boat-info__more {
  margin-top: 50px;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  text-transform: uppercase;
  padding-bottom: 32px;
  position: relative;
}
.boat-info__more:after {
  content: url(../images/waves.svg);
  position: absolute;
  text-align: center;
  vertical-align: top;
  bottom: 0;
  right: -100%;
  left: -100%;
  margin: 0 auto;
}
.boat-info__name {
  text-align: center;
  text-transform: uppercase;
  margin: 12px 0 20px;
  display: block;
  color: #3b3735;
  line-height: 1.1;
  font-weight: 400;
  font-size: 18px;
}
.boat-info__image {
  width: 100%;
  display: block;
  text-decoration: none;
}
@media (min-width: 768px) {
  .boat-info__image {
    height: 31.1vw;
  }
}
.boat-info__image img {
  width: 100%;
  height: 100%;
}
.boat-info__data {
  height: 70px;
  text-align: center;
  padding: 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.boat-info__data i {
  display: inline-block;
  vertical-align: middle;
}
.boat-info:hover .boat-info__data {
  background: #fff;
}
.boat-info__list {
  display: inline-block;
  text-align: center;
}
@media (min-width: 992px) {
  .boat-info__list {
    margin-left: -67px;
  }
}
.boat-info__list li {
  padding: 0 6px;
  display: inline-block;
  list-style-type: none;
  line-height: 17px;
}
@media (min-width: 992px) {
  .boat-info__list li {
    padding: 0 6px;
  }
}
.boat-info__list li span {
  display: inline-block;
  vertical-align: middle;
  color: #3b3735;
  font-size: 18px;
}
.boat-info__list li:not(:last-child) {
  border-right: 1px solid  #484442;
}
.boat-info__list li .icon-crew {
  vertical-align: -2px;
}
@media (min-width: 576px) {
  .boat-info__list li .icon-calendar {
    margin-right: 4px;
  }
}
@media (min-width: 576px) {
  .boat-info__list li .icon-room {
    margin: 0 4px 0 5px;
  }
}
.boat-info__list li .icon-room + span {
  margin-right: 5px;
}
@media (min-width: 576px) {
  .boat-info__list li .icon-man {
    margin: 0 3px 0 5px;
  }
}
.boat-info__list li .icon-man + span {
  margin-right: 5px;
}
@media (min-width: 576px) {
  .boat-info__list li .icon-size {
    margin-right: 2px;
  }
}
table.mobile-friendly {
  border-collapse: collapse;
  margin: 0 -15px;
  width: calc(100% + 30px);
  table-layout: fixed;
}
@media (min-width: 768px) {
  table.mobile-friendly {
    width: 100%;
  }
}
table.mobile-friendly td:not(:first-child),
table.mobile-friendly th:not(:first-child) {
  text-align: center;
}
table.mobile-friendly th {
  padding: 5px 0 18px;
  color: #2a5382;
  font-weight: 400;
  display: none;
}
@media (min-width: 768px) {
  table.mobile-friendly th {
    display: table-cell;
  }
}
table.mobile-friendly td {
  padding: 10px 5px;
}
table.mobile-friendly td:first-child {
  color: #2a5382;
  padding-left: 25px;
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  table.mobile-friendly td:first-child {
    width: auto;
    display: table-cell;
  }
}
table.mobile-friendly td.expand {
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  display: none;
  height: 8em;
}
table.mobile-friendly td.expand:nth-child(2) {
  padding-left: 15px;
}
@media (min-width: 768px) {
  table.mobile-friendly td.expand:nth-child(2) {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  table.mobile-friendly td.expand {
    height: auto;
    width: 18%;
    float: none;
    display: table-cell !important;
  }
}
table.mobile-friendly td.expand:before {
  content: attr(data-title);
  display: block;
  margin: 0 0 20px;
  height: 2em;
  color: #2a5382;
}
@media (min-width: 768px) {
  table.mobile-friendly td.expand:before {
    display: none;
  }
}
table.mobile-friendly tr:nth-child(even) td {
  background: #eee;
}
table.mobile-friendly .icon-switch {
  display: block;
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid  #4f4d4a;
  margin-top: -4px;
  margin-right: 30px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
@media (min-width: 768px) {
  table.mobile-friendly .icon-switch {
    display: none;
  }
}
table.mobile-friendly .icon-switch:after {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid  #4f4d4a;
  display: block;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 3px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
}
table.mobile-friendly .shown .icon-switch {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}
.carousel {
  width: 100%;
  margin-bottom: 45px;
  position: relative;
}
@media (min-width: 768px) {
  .carousel {
    margin-bottom: 90px;
  }
}
.carousel img {
  width: 100%;
}
.carousel__body > img:not(:first-child) {
  display: none;
}
.carousel img {
  width: 100%;
  height: auto;
}
.carousel .carousel-ctrl {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 30px;
  z-index: 50;
  top: 50%;
  width: 90%;
}
@media (min-width: 768px) {
  .carousel .carousel-ctrl {
    top: auto;
    bottom: 15px;
    width: 130px;
  }
}
.carousel .carousel-ctrl .prev,
.carousel .carousel-ctrl .next {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid  #fff;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  opacity: .5;
}
@media (min-width: 768px) {
  .carousel .carousel-ctrl .prev,
  .carousel .carousel-ctrl .next {
    opacity: 1;
  }
}
.carousel .carousel-ctrl .prev:after,
.carousel .carousel-ctrl .next:after {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid  #4f4d4a;
  display: block;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 3px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.carousel .carousel-ctrl .next {
  right: 0;
}
.carousel .carousel-ctrl .next:after {
  -webkit-transform: rotateZ(45deg) translateX(-15%) translateY(15%);
          transform: rotateZ(45deg) translateX(-15%) translateY(15%);
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.carousel .carousel-ctrl .next:hover {
  background-color: transparent;
}
.carousel .carousel-ctrl .next:hover:after {
  -webkit-transform: rotateZ(45deg) translateX(-15%) translateY(15%);
          transform: rotateZ(45deg) translateX(-15%) translateY(15%);
  border-right-color: #fff;
  border-top-color: #fff;
}
.carousel .carousel-ctrl .prev {
  left: 0;
}
.carousel .carousel-ctrl .prev:after {
  -webkit-transform: rotateZ(45deg) translateX(15%) translateY(-15%);
          transform: rotateZ(45deg) translateX(15%) translateY(-15%);
  border-right-color: transparent;
  border-top-color: transparent;
}
.carousel .carousel-ctrl .prev:hover {
  background-color: transparent;
}
.carousel .carousel-ctrl .prev:hover:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
.mobile-menu-toggle {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 54px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #000;
  background: #eee;
  border: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 992px) {
  .mobile-menu-toggle {
    display: none;
  }
}
.mobile-menu-toggle span {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mobile-menu-toggle span:after,
.mobile-menu-toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform-origin: 0.71429px center;
  transform-origin: 0.71429px center;
}
.mobile-menu-toggle span:after {
  top: 7px;
}
.mobile-menu-toggle span:before {
  top: -7px;
}
.mobile-menu-toggle span,
.mobile-menu-toggle span:after,
.mobile-menu-toggle span:before {
  width: 20px;
  height: 2px;
  background-color: #010e3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mobile-menu-toggle.active span {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.mobile-menu-toggle.active span:before,
.mobile-menu-toggle.active span:after {
  top: 0;
  width: 10px;
}
.mobile-menu-toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.mobile-menu-toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
.mobile-menu-toggle:focus {
  outline: 0;
}
.menu-container {
  display: none;
}
@media (min-width: 992px) {
  .menu-container {
    text-align: center;
    display: block;
  }
}
.site-header {
  padding: 10px 0 17px 50px;
  min-height: 48px;
  width: 100%;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
}
@media (min-width: 576px) {
  .site-header {
    padding: 17px 0 0 ;
  }
}
.mobile-logo {
  display: block;
  margin: 0 auto;
  max-width: 295px;
}
@media (min-width: 992px) {
  .mobile-logo {
    display: none;
  }
}
.main-menu {
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  width: 100%;
}
.main-menu .menu-item {
  display: inline-block;
}
.main-menu .menu-item a {
  display: inline-block;
  vertical-align: 0;
  color: #010e3d;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.main-menu .menu-item a:hover {
  color: #021a6f;
}
.main-menu__item {
  display: inline-block;
  vertical-align: top;
}
.main-menu__item a {
  letter-spacing: -0.45px;
  white-space: nowrap;
  display: block;
  padding: 12px 15px 0;
  font-size: 13px;
  text-transform: uppercase;
}
.main-menu__item:first-child a {
  padding-left: 0;
}
.main-menu__item:las-child a {
  padding-right: 0;
}
@media (min-width: 1200px) {
  .main-menu__logo {
    margin: 0 35px 0 45px;
  }
}
.menu-item {
  list-style-type: none;
}
.menu-item a {
  text-decoration: none;
}
.logo {
  display: block;
}
.logo img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 992px) {
  .logo {
    width: 240px;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-right: 27px;
    width: 300px;
    margin-top: -8px;
  }
}
.mobile-menu-wrapper {
  width: 100%;
  max-width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 50;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 21px 1px rgba(1, 1, 1, 0.2);
          box-shadow: 0 0 21px 1px rgba(1, 1, 1, 0.2);
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}
.mobile-menu-wrapper.shown {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.mobile-menu-cont {
  text-align: left;
  padding: 10px 30px 0 60px;
  height: calc(100vh - 42px);
  overflow: auto;
  background: #eee;
}
.hide-mobile {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  height: 42px;
  line-height: 42px;
  letter-spacing: 1.87px;
  font-size: 13px;
  color: #22133a;
  position: relative;
}
.hide-mobile:before {
  content: '';
  position: absolute;
  left: -13px;
  border: 1px solid  #22133a;
  top: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  display: block;
  margin: auto 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  border-right-color: transparent;
  border-top-color: transparent;
}
.mobile-menu {
  padding: 0;
  margin: 0;
}
.mobile-menu__item a {
  color: #010e3d;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 15px 0;
  font-size: 18px;
  display: block;
}
.site-footer {
  position: relative;
  z-index: 10;
  background-image: url(../images/c/footer.png);
  background-position: 50% 0;
  margin-top: -126px;
  padding-top: 126px;
  padding: 126px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 285px;
  font-size: 18px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .site-footer {
    font-size: 15px;
  }
}
.site-footer p {
  margin: 0;
}
.site-footer .col-12 {
  margin-bottom: 30px;
}
.site-footer .menu-item a {
  line-height: 1.15;
  display: block;
}
@media (min-width: 376px) {
  .site-footer {
    margin-top: -163px;
    padding-top: 126px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .site-footer {
    margin-top: -126px;
    padding-top: 80px;
  }
}
@media (min-width: 1386px) {
  .site-footer {
    margin-top: -9.22vw;
    padding-top: 5.86vw;
  }
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  text-decoration: underline;
}
.site-footer p {
  color: #fff;
  line-height: 1.25;
}
.site-footer .copyrights {
  margin: 26px 0 0;
  letter-spacing: -0.4px;
  font-size: 15px;
}
@media (min-width: 992px) {
  .site-footer .copyrights {
    font-size: 15px;
  }
}
.hide-xs {
  display: none!important;
}
@media (min-width: 768px) {
  .hide-xs {
    display: block!important;
  }
}
.show-xs {
  display: block!important;
}
@media (min-width: 768px) {
  .show-xs {
    display: none!important;
  }
}
.order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 768px) {
  .order-sm-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (min-width: 768px) {
  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
}
.icon.svg-icon-download {
  font-size: 36.071px;
  width: 0.820326578137562em;
}
.icon.svg-icon-waves {
  font-size: 6.146px;
  width: 29.469573706475757em;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-calendar {
  background-image: url(../images/sprite.png);
  background-position: 0px -20px;
  width: 15px;
  height: 15px;
}
.icon-crew {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 18px;
}
.icon-man {
  background-image: url(../images/sprite.png);
  background-position: -26px 0px;
  width: 16px;
  height: 17px;
}
.icon-room {
  background-image: url(../images/sprite.png);
  background-position: -44px 0px;
  width: 12px;
  height: 17px;
}
.icon-size {
  background-image: url(../images/sprite.png);
  background-position: -17px -20px;
  width: 24px;
  height: 9px;
}
