<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute">
	
		<symbol id="svg-icon-download" viewBox="0 0 27.740631 33.816953">
			<path d="M.049 33.816L0 30.087l27.74-.052-.03 3.737zM1.161 13.75h7.64s.065-.03.065-6.875c0-3.666.017-6.886.017-6.886s2.02.01 3.733.01c1.524 0 3.739-.024 3.739-.024s.011 2.887.011 6.9c0 6.867 0 0 .121 6.811l7.698.064-11.521 12.127S5.313 18.495 1.161 13.75z"></path>
		</symbol>
	
		<symbol id="svg-icon-waves" viewBox="0 0 169.8 5.7621423">
			<g transform="translate(-128.2 -72.721)"><path class="st2" d="M157.5 74.4c18.3 4 25.4 1.7 25.4 1.7s-9.2 4.7-26.5.9c-14.2-3-28.2-2-28.2-2s10.2-4.7 29.3-.6z" clip-rule="evenodd" fill-rule="evenodd"></path><path class="st3" d="M186.3 74.4c18.3 4 25.4 1.7 25.4 1.7s-9.2 4.7-26.5.9C171 74 157 75 157 75s10.2-4.7 29.3-.6z" clip-rule="evenodd" fill-rule="evenodd"></path><path class="st2" d="M215.1 74.4c18.3 4 25.4 1.7 25.4 1.7s-9.2 4.7-26.5.9c-14.2-3-28.2-2-28.2-2s10.2-4.7 29.3-.6z" clip-rule="evenodd" fill-rule="evenodd"></path><path class="st3" d="M243.9 74.4c18.3 4 25.4 1.7 25.4 1.7s-9.2 4.7-26.5.9c-14.2-3-28.2-2-28.2-2s10.2-4.7 29.3-.6z" clip-rule="evenodd" fill-rule="evenodd"></path><path class="st2" d="M272.6 74.4c18.3 4 25.4 1.7 25.4 1.7s-9.2 4.7-26.5.9c-14.1-3-28.2-2-28.2-2s10.3-4.7 29.3-.6z" clip-rule="evenodd" fill-rule="evenodd"></path></g>
		</symbol>
	
</svg>
